/* common css */
body {
    font-family: 'Lato', sans-serif;
}

.text-primary {
    color: #E55473;
}

.text-white {
    color: white;
}

section {
    margin: 128px 0px 0px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

.section-title {

    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;

}



.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/*header styles*/
.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 50px 240px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-container {
    max-width: 750px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}


.banner-discription {
    font-size: 20px;
    font-weight: 400;

    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}


.banner #flower-pic10 {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

/* section 2: css style  */

#flower-text {
    padding: 24px 663px;
}


.flower-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}


.flower-item {

    border-radius: 300px 300px 0px 0px;


}

#item1 {
    padding: 110px 78px 0px;
    background: rgba(167, 33, 98, 0.15);
}

#item2 {
    padding: 117px 47px 51px;
    background: rgba(5, 151, 160, 0.15);
}

#item3 {
    padding: 67px 75px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.item-container {
    justify-items: center;
}

.item-container>.underlined-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* section 3:css style  */
.service-container {
    justify-content: center;
    margin: 0px auto;
    max-width: 1440px;
    display: flex;
    gap: 50px;
    padding: 86px 0px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.service-item-container {
    justify-content: center;

}

.service-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

/* section-4: css style  */
.section-4 {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.section-4-banner {
    padding: 100px 423px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-4-container {
    max-width: 750px;

}

.section-4-title {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}


.section-4-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#flower-pic8 {
    width: 318px;
    height: 420px;

    flex-shrink: 0;
}

/* section 5: css style  */
.flower-pic-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* section 7:css style */
.section-6 {
    background-image: url(../Flower_Asset/Rectangle\ 9.png);
    /* padding: 50px 240px 0px 240px; */
    margin-left: 240px;
    /* margin-right: 240px; */
    background-repeat: no-repeat;

}

.center input[type="email"] {

    width: 700px;
    height: 64px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;

}

/* footer section  */
.footer>p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    padding:24px 648px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer {
    background: #111010;
    text-align: center;
}